html, body {
  margin: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 12px;
}
